* {
    margin: 0;
    font-family: "TTLakesCompressed-ExtraLightItalic", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: "TTLakesCompressed-ExtraLightItalic";
    src: url("../fonts/TTLakes-Regular.woff");
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
    background: #F8F8F8;
}

.header {
    background: #FFFFFF;
    display: none;
}
.header__inner {
    display: flex;
    padding: 24px 24px 24px 24px;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    margin-right: 16px;
    position: relative;
}
li:last-of-type .header__btn{
    margin-right: 0;
}
.header__logo{
    display: flex;
}
.header__btn-wand{
    margin-left: 42px;

}
.header__menu {
    display: flex;
    align-items: center;
    position: relative;
}
.header__menu::before{
    content: url("../img/divider.svg");
    bottom:5px;
    left: 60px;
    position: absolute;
}
.header__menu .header__btn{
    margin-right: 20px;
}
.header__logo{
    display: flex;
    margin-left: 20px;
}
.header__nav{
    display: flex;
    align-items: center;
    position: relative;
}
.header__nav::after{
    content: url("../img/divider.svg");
    right: 115px;
    top: 5px;
    position: absolute;
}
.header__nav .hidden:nth-child(3){
    margin-right: 26px;
}
.intro{
    padding: 42px 28px 11px 34px;
}

.intro__title::before{
    content: url("../img/highlight.svg");
    position: absolute;
    left: -33px;
}

.intro__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.intro__title {
    font-size: 28px;
    line-height: 40px;
    position: relative;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.intro__text-btn .btn {
    margin-left: 8px;
}

.intro .intro__btn {
    display: flex;
    justify-content: flex-end;
}

.intro__btn label span {
    display: flex;
    align-items: center;
}

.intro__text-btn:first-child {
    margin-left: 32px;
}

.intro__nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.intro__link-decoration{
    font-size: 16px;
    color: #7E7E82;
}
.intro__link{
    list-style-type: none;
    font-size: 16px;
    color: #7E7E82;
    padding: 8px 21px 7px 22px;
    margin-bottom: 57px;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid #F8F8F8;
    background: #F8F8F8;
}
.intro__link:hover {
    border: 2px solid #B8FFEC;
    padding: 8px 21px 7px 22px;
}
.intro__link:last-child{
    position: absolute;
    top: 40px;
}
.intro__link:nth-child(5){
    padding: 8px 8px 7px 22px;
}
.intro__main {
    display: flex;
    width:100%;
}
ul {
    padding: 0;
}
.intro__text {
    flex-grow: 1;
    flex-basis: 40px;
    padding-right: 36px;
    font-weight: normal;
}

.intro__text .text {
    font-size: 14px;
    line-height: 20px;
}

.intro__img {
    border-radius: 8px;
    flex-grow: 1;
    flex-basis: 20px;
}

.intro__read-more {
    margin-top: 13px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    color: #1B1C21;
    user-select: none;
    line-height: 24px;
}
.intro__read-more::before{
    content: url("../img/expand.svg");
    margin-right: 3px;
}
@media screen and (min-width: 320px) and (max-width: 1120px) {
    .intro__nav{
        overflow: auto;
    }
    .intro__link{
        margin-bottom: 32px;
    }

    .intro__link:nth-child(5){
        padding: 8px 21px 7px 22px;
    }
    .intro__link:last-child{
        position: static;
    }
    .header {
        display: block;
    }

    .intro__header {
        width: 100%;
    }

    .intro__text p:nth-child(4) {
        display: none;
    }
    .intro__btn .hidden{
        display: none;
    }

}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__logo{
        margin:0;
        padding-right: 38px;
    }
    .header {
        display: block;
    }
    .intro__main {
        width: 100%;
        flex-direction:column;
    }
    .header__menu::before{
        display: none;
    }
    .intro__text p:nth-child(4) {
        display: none;
    }
    .intro__text p:nth-child(3){
        display: none;
    }
    .header__nav .hidden:nth-child(-n+3){
        display: none;
    }
    .intro{
        padding: 0;
    }
    .intro__text{
        padding: 0 16px 0 16px;
    }
    .intro__nav{
        padding-left: 16px;
    }
    .intro__title{
        padding-left: 12px;
        font-weight: bold;
    }
    .header-wand{
        display: none;
    }
    .intro__sub-title{
        display: none;
    }
    h1{
        padding: 24px 0 0 0;
    }
    .intro__sticky{
        margin-top: 19px;
    }
    .intro__title::before{
        left: 0;

    }
    .header__logo::before{
        display: none;
    }
}

